{
 :deps     true
 :npm-deps {:install false}
 :dev-http {8083 "firebase/public"}
 :target-defaults
           {:browser
            {:compiler-options {:warnings {:fn-deprecated false}}
             :js-options
                               {:resolve {"@js-joda/core" {:target :global :global "JSJoda"}
                                          "react"         {:target :global :global "React"}
                                          "react-dom"     {:target :global :global "ReactDOM"}

                                          ;devcards
                                          ;"devcards-marked"                    {:target :global :global "DevcardsMarked"}
                                          ;"devcards-syntax-highlighter"        {:target :global :global "DevcardsSyntaxHighlighter"}
                                          ;"create-react-class"                 {:target :global :global "createReactClass"}

                                          }}}}
 :builds   {:js-date     {:target     :browser
                          :output-dir "firebase/public/js-date/js"
                          :asset-path "/js-date/js"
                          :modules    {:main {:entries [time-lib-comparison.js-date]}}}
            :js-date-dev {:target     :browser
                          :output-dir "firebase/public/js-date/js"
                          :asset-path "/js-date/js"
                          :modules    {:main {:entries [time-lib-comparison.js-date]}}}

            :java-time     {:target     :browser
                          :output-dir "firebase/public/java-time/js"
                          :asset-path "/java-time/js"
                          :modules    {:main {:entries [time-lib-comparison.java-time]}}}
            :java-time-dev {:target     :browser
                          :output-dir "firebase/public/java-time/js"
                          :asset-path "/java-time/js"
                          :modules    {:main {:entries [time-lib-comparison.java-time]}}}
            

            }
 }